.container {
	width: 100%;
	height: 100%;
	background-color: #e74c3c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	border-radius: 300px;
	overflow: hidden;
	height: 300px;
	aspect-ratio: 1/1;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mail-box {
	position: relative;
	border-radius: 25px 25px 0 0;
	width: 150px;
	height: 75px;
	background-color: #3498db;
	transition: all 0.5s ease;
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}
.outside {
	position: relative;
	border-radius: 25px 25px 0 0;
	width: 150px;
	height: 75px;
	background-color: #3498db;

	transform: translateX(225px);
	transition: all 0.5s ease;
}

.outside-fully-out {
	position: relative;
	border-radius: 25px 25px 0 0;
	width: 150px;
	height: 75px;
	background-color: #3498db;

	transform: translateX(225px) translateY(300px);
	transition: all 0.5s ease;
}

.box-pole {
	width: 8px;
	height: 200%;
	left: 50%;
	bottom: -200%;
	transform: translateX(50%);
	background-color: #12467e;
	position: absolute;
}

.box-inside {
	position: absolute;
	border-radius: 25px 25px 0 0;
	width: 40%;
	height: 100%;
	background-color: #2980b9;
}

.box-flap {
	position: absolute;
	border-radius: 25px 25px 0 0;
	width: 40%;
	height: 100%;
	background-color: #9ccded;
	z-index: 2;
	transition: transform 0.5s linear;
	transform-origin: bottom center;
}

.mail-box:hover .box-flap {
	transform: rotateX(120deg);
}

.mail {
	position: absolute;
	width: 250px;
	aspect-ratio: 16/9;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.2);
	transition: all 0.5s ease;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.in-box {
	left: 20%;
}
.free {
	transform: translate(-350px, -50%);
}

.mail-content {
	background-color: #b3ff9f;
	border-radius: 5px;
	flex: 1;
	font-size: 16px;
	transition: all 0.5s ease;

	z-index: 4;

	&:hover {
		cursor: pointer;
		transform: rotate(-90deg);
	}
}

.from {
	width: 40%;
	height: 20px;
	display: flex;
	flex-direction: column;
	text-align: left;
	height: fit-content;
	margin: 10px;
}

.to {
	width: 50%;
	height: 20px;
	display: flex;
	flex-direction: column;
	text-align: right;
	height: fit-content;
	margin: 10px;
}

.toorfrom {
	font-size: 28px;
}

.mail-wraper {
	background-color: #b3ff9f;
	display: flex;
	justify-content: space-between;
	z-index: 5;
	position: absolute;
	height: 100%;
	align-items: center;
}

.letter {
	position: absolute;
	width: 140px;
	height: 250px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background-color: #91fbff;
	z-index: 3;
	transition: all 0.5s ease;
}

.letter-fully-out {
	position: fixed;
	background-color: #91fbff;
	width: 100vw;
    height: 100%;
	top: 0;
    left: 0;
	transition: all 0.5s ease;
}

@keyframes mailBoxUp {
	from {
		opacity: 0;
		transform: translate3d(0, 90px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.mail-box {
	animation: mailBoxUp 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
