.container {
	width: 100%;
	height: 100%;
	background-color: #e74c3c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	border-radius: 300px;
	overflow: hidden;
	height: 300px;
	width: 300px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mail-box {
	position: relative;
	border-radius: 25px 25px 0 0;
	width: 150px;
	height: 75px;
	background-color: #3498db;

	transition: transform 0.3s ease;
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}

.box-pole {
	width: 8px;
	height: 200%;
	left: 50%;
	bottom: -200%;
	transform: translateX(50%);
	background-color: #12467e;
	position: absolute;
}

.box-inside {
	position: absolute;
	border-radius: 25px 25px 0 0;
	width: 40%;
	height: 100%;
	background-color: #2980b9;
}

.box-flap {
	position: absolute;
	border-radius: 25px 25px 0 0;
	width: 40%;
	height: 100%;
	background-color: #9ccded;
	z-index: 2;

	transition: transform 0.5s linear;
	transform-origin: bottom center;
}

.mail-box:hover .box-flap {
	transform: rotateX(120deg);
}

.mail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b3ff9f;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    z-index: 7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@keyframes mailBoxUp {
	from {
		opacity: 0;
		transform: translate3d(0, 90px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.mail-box {
	animation: mailBoxUp 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
